// src/css/quasar.variables.scss

$primary: #519e5b;
$secondary: #032e13;
$accent: #f0e692;

$dark: #303236;
$dark-page: #121212;

$positive: #1e7fc9;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
